.pf-c-page {
  min-height: 100vh;
}

.product-card .product-title {
  margin: 10px 0 0;
  font-weight: 700;
  color: rgb(19, 97, 241);
}

.image {
  height: 50vh;
  width: auto;
}
.image1 {
  width: auto;
}
.en_screens {
  margin-left: 20%;
  margin-right: 20%;
}
img:hover {
  box-shadow: 0 0 4px 2px black;
}
.layout {
  position: absolute;
  right: 10px;
}
.layout2 {
  position: absolute;
  right: 30px;
}

.layout:hover {
  color: blue;
}
.layout2:hover {
  color: blue;
}

/* .image_other {
  margin-right: 20%;
}
.image1 {
  margin-left: 15%;
  margin-right: 30%;
}

.image {
  margin-left: 15%;
  margin-right: 30%;
} */
